// main

// google fonts
//@import "node_modules/sass-google-fonts/src/GoogleFonts.scss";

//@include google-font('Roboto', '400,500,700');

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  height: 101%;
}

body {
  color: #222;
  background-color: #FFFFFF;
  //font-family: 'Roboto', sans-serif;
  //font-family: ERNESTINE;
  font-family: Aktiv-Grotesk;
}

.app {
  max-width: 1200px;
  height: 100%;
  position: absolute;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
}
